<div class="uk-section uk-section-muted no-m-p bg-darker footer">
  <div class="uk-container">

    <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
      <div>
        <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
          <div>
            <div class="uk-grid-row-collapse">
              <p class="text-info" uk-tooltip="title: Av. Nueva Providencia 1881 piso 2 Of 201">
                <span class="icon-location" uk-icon="icon: location;"></span> Av. Nueva Providencia 1881 piso 2...
              </p>
            </div>
            <div class="uk-grid-row-collapse">
              <p class="text-info" uk-tooltip="title: (+569)-78327523 // Fijo (22) 2311500">
                <span class="icon-location" uk-icon="icon: receiver;"></span> (+569)-78327523 // Fijo (22) 2311500
              </p>
            </div>
            <div class="uk-grid-row-collapse">
              <p class="text-info" uk-tooltip="title: info@rumbotravel.cl">
                <span class="icon-location" uk-icon="icon: mail;"></span> info@rumbotravel.cl
              </p>
            </div>

            <hr class="hr-sep-sn">
          </div>
          <div class="fix-div">
            <div class="uk-animation-scale-down">
              <a href="#" target="_blank" class="uk-icon-button" uk-icon="facebook"
                uk-tooltip="title: Síguenos en Facebook; pos: top; animation: uk-animation-slide-top" (click)="addFacebook()"></a>
              <a href="#" target="_blank" class="uk-icon-button" uk-icon="twitter"
                uk-tooltip="title: Síguenos en Twitter; pos: top; animation: uk-animation-slide-top" (click)="addTwitter()"></a>
              <a href="#" target="_blank" class="uk-icon-button" uk-icon="instagram"
                uk-tooltip="title: Síguenos en Instagram; pos: top; animation: uk-animation-slide-top" (click)="addInstagram()"></a>
              <a href="#" target="_blank" class="uk-icon-button" uk-icon="whatsapp"
                uk-tooltip="title: Resolverémos tus dudas; pos: top; animation: uk-animation-slide-top" (click)="addWhatsapp()"></a>
              <p class="redes-sociales">Síguenos en todas las redes sociales</p>
              <hr class="hr-sep-sn">
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-child-width-1-2@s" uk-grid>
          <div>
            <h3>Newsletter</h3>
            <p>Subscríbete a nuestro newsletter para mantenerte al día con nuestras próximas promociones.</p>
          </div>
          <div class="uk-margin">
            <div class="uk-inline newsletter-input">
              <a class="uk-form-icon uk-form-icon-flip a-black" href="#" uk-icon="icon: mail"
                uk-tooltip="title: Mantenerme informado; pos: top"></a>
              <input class="uk-input uk-form-width-large uk-form-large" type="email" autocomplete="on"
                placeholder="mail@mail.com">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="uk-text-center no-m-p autor-div">
    <p class="autor">
      Designed by <a href="https://gag-5e854.firebaseapp.com/">Cristian González</a> with
      <a href="#" target="_blank" class="uk-icon-button" uk-icon="uikit"
        uk-tooltip="title: UiKit 3; pos: right; animation: uk-animation-slide-top"></a>
    </p>
  </div>
</div>
