<div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-grid-match phone-frame-desktop" uk-grid>
  <div uk-scrollspy="cls: uk-animation-slide-left; repeat: true; delay: 400">
    <div class="phone-container">
      <div class="marvel-device iphone-x box-shadow">
        <div class="notch">
          <div class="camera"></div>
          <div class="speaker"></div>
        </div>
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="bottom-bar"></div>
        <div class="volume"></div>
        <div class="overflow">
          <div class="shadow shadow--tr"></div>
          <div class="shadow shadow--tl"></div>
          <div class="shadow shadow--br"></div>
          <div class="shadow shadow--bl"></div>
        </div>
        <div class="inner-shadow"></div>
        <div class="screen">
          <!-- Content goes here -->
          <a href="https://www.instagram.com/rumbo.travel/?hl=es-la" target="_blank" (click)="addInstagram()">
            <div class="follow"></div>
          </a>
          <img src="../../../assets/img/instagram/instagram-iPhone2.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="text-social-container uk-text-center"
    uk-scrollspy="cls: uk-animation-slide-right; repeat: true; delay: 500">
    <div class="text-social-networks">
      <h1 class="uk-text-center title-social-networks">Síguenos en Instagram</h1>
      <p class="p-social-networks">Para mantenerte al día con nuestras próximas promociones en viajes, paquetes
        turísticos y hoteles</p>
      <img src="../../../assets/img/instagram.svg" alt="">
    </div>
  </div>
</div>

<div class="uk-child-width-1-1@s uk-grid-match phone-frame-mobile" uk-grid>
  <div>
    <div class="uk-text-center">
      <h1 class="uk-text-center title-social-networks">Síguenos en Instagram</h1>
      <p class="p-social-networks">Para mantenerte al día con nuestras próximas promociones en viajes, paquetes
        turísticos y hoteles</p>
    </div>
  </div>
  <div>
    <div>
      <div class="phone-container">
        <div class="marvel-device iphone-x box-shadow">
          <div class="notch">
            <div class="camera"></div>
            <div class="speaker"></div>
          </div>
          <div class="top-bar"></div>
          <div class="sleep"></div>
          <div class="bottom-bar"></div>
          <div class="volume"></div>
          <div class="overflow">
            <div class="shadow shadow--tr"></div>
            <div class="shadow shadow--tl"></div>
            <div class="shadow shadow--br"></div>
            <div class="shadow shadow--bl"></div>
          </div>
          <div class="inner-shadow"></div>
          <div class="screen">
            <!-- Content goes here -->
            <a href="https://www.instagram.com/rumbo.travel/?hl=es-la" target="_blank" (click)="addInstagram()">
              <div class="follow"></div>
            </a>
            <img src="../../../assets/img/instagram/instagram-iPhone2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
