<navbar></navbar>

<a id="button-up" href="#" class="uk-icon-button uk-animation-slide-right" uk-icon="chevron-up"
  uk-scroll="duration: 700"></a>

<a id="whatsapp-phone" href="" class="uk-icon-button uk-animation-slide-left" uk-icon="whatsapp"
  uk-tooltip="title: ¿Tienes dudas? Hablemos; pos: right; delay: 300"></a>

<carousel></carousel>

<div class="uk-animation-scale-up uk-text-center mesa-central-mobile">
  <a href="#">
    <div class="uk-animation-slide-right">
      <button class="uk-button uk-button-primary mesa-central">
        <span class="navbar-text">Mesa Central: + 56 2 99999999</span>
      </button>
    </div>
  </a>
</div>

<h1 class="uk-text-center">Paquetes Destacados</h1>

<cards></cards>

<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-large-top horizontal-margin" uk-grid>
  <div class="master-travel-mobile width-100">
    <h3 class="uk-text-center">Master Travel</h3>
    <p class="uk-text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis beatae architecto
      quibusdam voluptatem sequi, fugit quaerat dicta atque eum tenetur repudiandae natus dolore neque pariatur
      molestias molestiae explicabo perferendis vel?</p>
  </div>
  <div class="master-travel-desktop">
    <h4 class="uk-text-center">Líneas Aereas Asociadas</h4>
    <img src="../../../../assets/img/aerolineas.jpg" alt="">
  </div>

  <div class="master-travel-desktop uk-width-expand@m div-extend">
    <h3 class="uk-text-center">Master Travel</h3>
    <p class="uk-text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis beatae architecto
      quibusdam voluptatem sequi, fugit quaerat dicta atque eum tenetur repudiandae natus dolore neque pariatur
      molestias molestiae explicabo perferendis vel?</p>
  </div>
  <div class="master-travel-mobile">
    <h4 class="uk-text-center">Líneas Aéreas Asociadas</h4>
    <img src="../../../../assets/img/aerolineas.jpg" alt="">
  </div>
  <div>
    <h4 class="uk-text-center">Hoteles Asociados</h4>
    <img src="../../../../assets/img/hoteles.jpg" alt="">
  </div>
</div>

<phone-insta></phone-insta>

<app-footer></app-footer>
